@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Readex+Pro:wght@160..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body .main {
  width: 100%;
}
body .main .container {
  width: 180vh;
  height: 100%;
  max-width: 180vh;
  margin: 0 auto;
}
body .main .container header {
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
body .main .container header .center nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
body .main .container header .center nav a {
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease;
}
body .main .container header .center nav a:hover {
  color: rgb(165, 165, 165);
}
body .main .container header .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
body .main .container header .right img {
  transition: all 0.5s ease;
}
body .main .container header .right img:hover {
  transform: scale(1.05);
}
body .main .container .swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
body .main .container .swiper img {
  width: 100%;
}
body .main .container .latest {
  padding: 50px 0;
}
body .main .container .latest__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .main .container .latest__title h1 {
  width: 780px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px;
}
body .main .container .latest__title p {
  width: 628px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
body .main .container .latest__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .container .latest__box img {
  width: 100%;
}
body .main .container .items__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 0;
}
body .main .container .items__title h1 {
  width: 642px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px;
}
body .main .container .items__title p {
  width: 422px;
  color: #000;
  font-family: "Readex Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
body .main .container .items__box {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 50px 0;
}
body .main .container .items__elem {
  width: 302.5px;
  transition: all 0.5s ease;
}
body .main .container .items__elem h1 {
  color: #000;
  font-family: "Readex Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  padding: 15px 0;
}
body .main .container .items__elem p:nth-child(3) {
  color: #4B4B4B;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
body .main .container .items__elem p:nth-child(4) {
  transition: all 0.5s ease;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  padding-top: 20px;
}
body .main .container .items__elem p:nth-child(4):hover {
  color: green;
}
body .main .container .items__elem:hover {
  transform: scale(0.95);
}
body .main .gadgets__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 15px;
}
body .main .gadgets__title h1 {
  width: 529px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px;
}
body .main .gadgets__title p {
  width: 422px;
  color: #000;
  font-family: "Readex Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
body .main .gadgets__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
body .main .gadgets__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 413px;
  transition: all 0.5s ease;
  flex-shrink: 0;
  padding: 30px 0;
  background-color: rgb(248, 249, 250);
  border-radius: 10px;
}
body .main .gadgets__elem p {
  width: 141px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
body .main .gadgets__elem h1 {
  width: 253px;
  padding: 0 0 30px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
body .main .gadgets__elem button {
  width: 190px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: none;
  border: 1px solid black;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  text-transform: capitalize;
  margin-bottom: 30px;
  transition: all 0.5s ease;
  cursor: pointer;
}
body .main .gadgets__elem button:hover {
  background-color: #dfdfdf;
}
body .main .gadgets__elem:hover {
  transform: scale(1.05);
}
body .main .ideas__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 15px;
}
body .main .ideas__title h1 {
  width: 497px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px;
}
body .main .ideas__title p {
  width: 422px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
body .main .ideas__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
}
body .main .ideas__box img {
  width: 700px;
}
body .main .ideas__box .p {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .main .ideas__box .p p {
  width: 600px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
body .main .ideas .a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
body .main .ideas .a img {
  cursor: pointer;
}
body .main .ideas .a a {
  text-decoration: none;
  width: 79px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  text-transform: capitalize;
}
body .main .search__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .main .search__box h1 {
  width: 563px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px;
}
body .main .search__box div {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  width: 700px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #C5C5C5;
  background: #F8F9FA;
}
body .main .search__box div input {
  background: none;
  width: 100%;
  outline: none;
  border: none;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
body .main .m {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
body .main .signup {
  width: 935px;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #DCE5E2;
  margin-top: 100px;
}
body .main .signup__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .main .signup__box h1 {
  width: 393px;
  color: #000;
  text-align: center;
  font-family: "Readex Pro";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.5px;
}
body .main .signup__box p {
  width: 549px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}
body .main .signup__box form {
  display: flex;
}
body .main .signup__box form input {
  width: 285px;
  height: 50px;
  outline: none;
  border-radius: 54px 0px 0px 54px;
  border: 1px solid #000;
  color: #000;
  padding-left: 40px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  background: #DCE5E2;
}
body .main .signup__box form button {
  width: 115px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 0px 200px 200px 0px;
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}
body .main footer {
  background-color: rgb(248, 249, 250);
  border-top: 1px solid rgb(211, 211, 211);
}
body .main footer .container .footer__box {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
body .main footer .container .footer__box .footer__elem {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .main footer .container .footer__box .footer__elem p:nth-child(1) {
  width: 132px;
  color: #000;
  font-family: "Readex Pro";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  transition: all 0.5s ease;
}
body .main footer .container .footer__box .footer__elem p:nth-child(1):hover {
  transform: scale(1.05);
}
body .main footer .container .footer__box .footer__elem a {
  text-decoration: none;
  width: 62px;
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  transition: all 0.5s ease;
  font-weight: 400;
  line-height: 21.6px;
}
body .main footer .container .footer__box .footer__elem a:hover {
  color: #999999;
}
body .main footer .container .footer__box .footer__elem1 p {
  width: 304px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  padding-top: 15px;
}
body .main footer .container .line {
  width: 100%;
  height: 1px;
  background-color: gainsboro;
}
body .main footer .container .end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
body .main footer .container .end div {
  display: flex;
  align-items: center;
}
body .main footer .container .end div p {
  color: #000;
  font-family: "Readex Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}
body .main footer .container .end div a {
  text-decoration: none;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}/*# sourceMappingURL=style.css.map */